<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
   <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
   <title>Vehicle Make</title>
   
</head>

<body>
  
  
      <div class="pages-container">
        
        <div class="form-container">
           

               <form action="/model" method="POST" class="sign-up-form" id="make-form">
                <label for="cars">Select a Vehicle Make</label>
                
                <select class="dropdown" name="selected_make">
                  {% for name in make_names %}
                  <option class="dropdown-content" value="{{ name }}">{{ name }}</option>
                  {% endfor %}
                </select>

              </form>
              

              <div class="header">
                  <h1></h1>
              </div>


              <button class="next-button" type="submit" form="make-form">Continue to Vehicle Model &#x2192;</button>


        </div>
    </div> 
    

    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>